img.admin-image-list {
   max-width: 150px;
   max-height: 150px;
}
img.admin-image-edit {
   max-width: 400px;
   max-height: 400px;
}
img.article-image-list {
   max-width: 100%;
   max-height: 150px;
}
img.article-image-page {
   max-width: 100%;
   max-height: 500px;
}
.text-link,
.text-link:hover  {
   text-decoration: none;
   color: #333;
}