{% extends 'base.html.twig' %}

{% block body %}
    {{ include('includes/nav.html.twig') }}

    <div class="container">
        {{ form_start(form, {'attr' : {'class' : 'edit-article', 'novalidate' : 'novalidate'}}) }}

        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control','placeholder': 'Enter article title'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.text) }}
            {{ form_errors(form.text) }}
            {{ form_widget(form.text, {'attr': {'class': 'form-control'}}) }}
        </div>

        {% if form.imagePath.vars.value is not empty %}
            <div class="form-group">
                <img src="/{{ form.imagePath.vars.value }}" class="admin-image-edit image-id-1" />
                <span class="delete-image btn btn-danger" data-image-id="1">delete image</span>
                <input type="hidden" name="deleteImage" class="image-id-1" value="0">
            </div>
        {% endif %}

        <div class="form-group">
            {{ form_label(form.file) }}
            {{ form_errors(form.file) }}
            {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_widget(form.saveAndExit, {'attr': {'class': 'btn btn-primary'}}) }}
            <a href="{{ path('admin_articles_manage') }}">Back</a>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}