{% extends 'base.html.twig' %}

{% block body %}
    {{ include('includes/nav.html.twig') }}
    <div class="container">

        <div class="page-header">
            <h1>Manage articles</h1>
        </div>

        <h3>Articles</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Image</th>
                <th width="300">Title</th>
                <th>Text</th>
                <th width="100">Date Added</th>
                <th>Manage</th>
            </tr>
            </thead>
            <tbody>
            {% for article in pagination %}
            <tr>
                <td><img src="{% if article.getWebPath() is not empty %}/{{ article.getWebPath() }}{% else %}{{ asset('assets/images/img_not_available.png') }}{% endif %}" class="admin-image-list" /></td>
                <td>{{ article.title }}</td>
                <td>{% if article.text|length > 200 %}{{ article.text|slice(0,200) }}...{% else %}{{ article.text }}{% endif %}</td>
                <td>{{ article.dateCreated.format('Y-m-d H:i') }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('admin_articles_edit', {'id': article.id}) }}">Edit</a>
                    <a class="btn btn-default need-confirm" data-confirm-text="Delete article “{{ article.title }}”?" href="{{ path('admin_articles_delete', {'id': article.id}) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <a href="{{ path('admin_articles_create') }}" class="btn btn-primary">Create new article</a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/grid.css') }}" rel="stylesheet">
{% endblock %}
