{% extends 'base.html.twig' %}

{% block body %}
    {{ include('includes/nav.html.twig') }}

    <div class="container">

        <div class="row">
            <h1>{{ article.title }}</h1>
            {% if article.getWebPath() is not empty %}
                <img src="/{{ article.getWebPath() }}" class="article-image-page" alt="{{ article.title }}" />
            {% endif %}
            <article>
                <p>{{ article.text }}</p>
            </article>
        </div>

        <div class="row">
            <a href="{{ path('main_page', {'_from': article.id}) }}">Back</a>
        </div>

        <hr>

        <footer>
            <p>&copy; 2015 Company, Inc.</p>
        </footer>
    </div>
{% endblock %}
