{% extends 'base.html.twig' %}

{% block body %}
    {{ include('includes/nav.html.twig') }}

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            {% if pagination.getTotalItemCount > 0 %}
                {% for article in pagination %}
                    <div class="col-md-4">
                        <a href="{{ path('article', {'id': article.id}) }}">
                            <img src="{% if article.getWebPath() is not empty %}/{{ article.getWebPath() }}{% else %}{{ asset('assets/images/img_not_available.png') }}{% endif %}" class="article-image-list" />
                        </a>
                        <h2>{{ article.title }}</h2>
                        <a href="{{ path('article', {'id': article.id}) }}"  class="text-link">
                            <p>{% if article.text|length > 400 %}{{ article.text|slice(0,400) }}...{% else %}{{ article.text }}{% endif %}</p>
                        </a>
                        <p><a class="btn btn-default" href="{{ path('article', {'id': article.id}) }}" role="button">View details &raquo;</a></p>
                    </div>
                {% endfor %}
            {% else %}
                <span>Статей нет</span>
            {% endif %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        <hr>

        <footer>
            <p>&copy; 2015 Company, Inc.</p>
        </footer>
    </div>
{% endblock %}
